body{
  background-color: #FFFFD1;
}

button{
  float: right;
}

#outerDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #AFF8DB;
  padding: 50px;
  border-radius: 5%;
}

#headerDiv{

}

.checked{
  text-decoration: line-through;
  background-color: #39ff14;
}
